
<h1>Posts Show Page</h1>

Title: <%= @post.title %><br>

Content: "<%= @post.content %>"<br>


Categories:<br>
<ul><% @post.categories.each do |c| %>
    <li><%= c.name %></li></ul>
    <% end %><br>


Comments: <br>
 <% @post.comments.each do |comment| %>
  <li>
    <%= comment.user.username %> says: <%= comment.content %>
  </li>
<% end %>

List of Users Who Commented:<br/>
    <% @post.users.uniq.each do |user| %>
      <%= link_to user.username , user_path(user) %>
    <% end %>
<br>
    Make A Comment:
    <%= form_for Comment.new do |f| %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <p>
    <%= f.label "New Comment" %><br>
    <%= f.text_area :content %></p>

        <h4> Select A Username: </h4> <br>
        <%= f.collection_select :user_id, User.all, :id, :username, include_blank: true %>
        <h4> Enter Username: </h4> <br>
        <%= f.fields_for :user, User.new do |u| %>

        <%= u.label "New User" %><br/>
        <%= u.text_field :username %>
        <% end %><p>

    <%= f.submit %>
<% end %> 
